<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>포인트 충전 api</title>
</head>
<body>
<h2>포인트 충전 API 테스트 화면</h2>

<p>현재 로그인된 세션 ID: <strong th:text="${session.loginUserId}"></strong></p>

<hr>

<div>
    <input type="number" id="pointInput">
    <button onclick="requestCharge()">충전 요청하기</button>
</div>

<div>
    <button onclick="requestProfile('profile')">내정보 조회 요청하기</button>
</div>
<div>
    <button onclick="requestProfile('neighborhood')">내주변 동네 요청하기</button>
</div>
<div>
    <button onclick="patchNeighborhood()">동네 수정하기</button>
</div>

<div class="result-box">
    <h3>서버 응답 결과 (JSON):</h3>
    <p id="jsonResult">응답 대기 중...</p>
</div>

<script>
    function requestCharge() {

        const pointValue = document.getElementById("pointInput").value;

        const apiUrl = `/api/point/charge?point=${pointValue}`;

        const requestOptions = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                point: pointValue
            })
        };

        fetch(apiUrl, requestOptions)
            .then(response => {
                return response.json();
            })
            .then(data => {

                if (data.status === 400){
                    alert("문제가 있어용 : " + data.message);
                    document.getElementById("jsonResult").style.color = "red";
                } else {
                    document.getElementById("jsonResult").style.color = "blue";
                }
                document.getElementById("jsonResult").innerText = JSON.stringify(data);
            })
            .catch(error => {
                console.error("API 호출 에러:", error);
                document.getElementById("jsonResult").innerText = "오류 발생: " + error.message;
            });
    }

    function requestProfile(target){
        const apiUrl = `/api/mypage/`+target;

        fetch(apiUrl)
            .then(response => {
                return response.json();
            })
            .then(data => {

                if (data.status === 400){
                    alert(data.message);
                    location.href = `/loginTest.html`;
                } else {
                    document.getElementById("jsonResult").style.color = "blue";
                    document.getElementById("jsonResult").innerText = JSON.stringify(data);
                }
                //document.getElementById("jsonResult").innerText = JSON.stringify(data);
            })
            .catch(error => {
                console.error("API 호출 에러:", error);
                document.getElementById("jsonResult").innerText = "오류 발생: " + error.message;
            });
    }

    function patchNeighborhood(){

    }

</script>
</body>
</html>